.custom-navbar {
    border: none;
    box-shadow: none;
}
h1 {
    font-family: "Unbounded", serif;
}
h3 {
    font-family: "Unbounded", serif;
    font-size: large;
}
h4 {
    font-family: "Unbounded", serif;
    font-size: small;
}
p {
    font-family: "Sarabun", sans-serif;
    font-size: medium;
}
.centrado {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.img-gallery {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 30px;
}
.img-gallery img {
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.img-gallery img:hover {
    transform: scale(1.05);
}
.full-img {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

}
/*como se ve la imagen agrandada*/
.full-img img {
    width: 90%;
    max-width: 500px;
}
.imagen-retrato {
    max-width: 200px;
    height: auto;
}
/*boton de la galeria de benito*/
.btn-sm-custom {
    padding: 0.2rem 0.4rem; /* Ajusta el espacio interno */
    height: 1.5rem; /* Ajusta la altura */
    line-height: 1rem; /* Centra el texto dentro del botón */
}

/*prueba css de las imagenes con texto*/
.container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  #text {
    margin-left: 20px;
    display: none; /* Ocultar el texto inicialmente */
    font-size: 16px;
    color: #333;
  }
  
  img {
    cursor: pointer;
    width: 150px;
    height: auto;
  }
  